:root {
  --Primary: #212121;
  --Secondary-Background: linear-gradient(135deg, #FF6F61, #ffd194);;
  --Header-Background: linear-gradient(#FF6F61, #ffd194);
  --Accent: #FF6F61;
  --Text: rgb(51, 51, 51);
  --Background: #FFFAF0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Background);
  color: var(--Text);
  font-family: "Segoe UI", sans-serif;
}

/* Header */
header {
  color: var(--Background);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 8rem 0 4rem;
  background: var(--Header-Background);
  box-shadow: 0 4px 8px rgba(255, 209, 148, 1);
}

header h1 {
  font-size: 3rem;
}

/* Profile */
.profile {
  text-align: center;
  padding: 3rem 0;
}

.profile .about-me {
  margin-top: 20px;
  margin: 0 300px;
}

.about-me img {
  width: 250px;
  border-radius: 100%;
  margin: 20px 0;
}

.about-me .description {
  text-align: center;
}

/* Strength */
.strength {
  text-align: center;
  background: var(--Secondary-Background);
  padding: 3rem 0;
}
.strength h1 {
  color: var(--Background);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.strength .skill {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: stretch; 
  margin: 20px 15rem 0;
}

.strength .skill section {
  background: var(--Background);
  color: var(--Text);
  border-radius: 10px;
  text-align: center;
  width: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.strength .skill .word {
  transition: 0.3s ease;
}

.strength .skill .excel {
  transition: 0.3s ease;
}

.strength .skill .accounting {
  transition: 0.3s ease;
}

.strength .skill section i {
  margin: 0 0 30px;
  font-size: 4rem;
}

/* Contact */
.contact {
  padding: 3rem 0;
  text-align: center;
}

.contact .content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: stretch; 
  margin: 20px 15rem 0;
  text-align: center;
}

.contact .content section {
  border-radius: 5px;
  text-align: center;
  width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--Text);
  border-style: dashed;
}

.contact .content section i {
  font-size: 4rem;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background: var(--Secondary-Background);
  color: var(--Background);
  padding: 30px 0;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
